<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-remove-animate"
                ng-repeat="student in students" type="item-text-wrap"
                ng-click="getPhoto( student )">
        <h2>{{student.name}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
